* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-mobile {
    display: none;
}

.container {
    background-color: hsl(0, 0%, 100%);
    max-width: 40rem;
    height: auto;
    border-radius: 12px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Item-1 Item-2";
}
  
.item-1 {
    justify-self: stretch;
    align-self: stretch;
    grid-area: Item-1;
}
  
.item-2 {
    margin-left: 1.75rem;
    justify-self: stretch;
    align-self: stretch;
    grid-area: Item-2;
}

.img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.perfume {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    color: gray;
    letter-spacing: 6px;
    margin-top: 1.125rem;
    margin-bottom: 1rem;
}

.name {
    font-family: 'Fraunces', serif;
    margin-bottom: 1.125rem;   
}

.paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    color: gray;
    margin-bottom: 2rem;
}

.pricing {
    margin-bottom: 2rem;
    display: grid; 
    grid-template-columns: 0.8fr 1.2fr; 
    grid-template-rows: 1fr; 
    gap: 0px 15px; 
    grid-template-areas: 
        "item item1";
}

.price1 {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    color: #3a7b65;
}

.price2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    color: gray;
    text-decoration: line-through;
    margin-top: auto;
    margin-bottom: auto;
}

.btn {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    box-shadow: 1px 1px 9px -4px rgba(0,0,0,0.77);
    cursor: pointer;
    width: 80%;
    height: 50px;
    border: 0px;
    border-radius: 12px;
    background-color: #3a7b65;
}

.btn:hover {
    background-color: #234a3d;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.75rem;
}

@media only screen and (max-width: 600px) {
    .container {
        display: none;
    }
    .container-mobile {
        background-color: hsl(0, 0%, 100%);
        max-width: 40rem;
        height: auto;
        margin: 0.938rem;
        border-radius: 12px;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "item-1"
        "item-2";
    }
    .item-mobile {
        justify-self: stretch; 
        align-self: stretch; 
        grid-area: item-1; 
    }
    .item-mobile2 {
        margin-left: 1.35rem;
        justify-self: start; 
        align-self: stretch; 
        grid-area: item-2; 
    }
    .img-mobile {
        max-width: 100%;
        min-height: 100%;
        object-fit: cover;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    .perfume-mobile {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.875rem;
        font-weight: 700;
        color: gray;
        letter-spacing: 6px;
        margin-top: 1.125rem;
        margin-bottom: 0.5rem;
    }
    .name-mobile {
        font-family: 'Fraunces', serif;
        margin-bottom: 1.125rem;   
    }
    .paragraph-mobile {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.875rem;
        font-weight: 700;
        color: gray;
        margin-bottom: 1rem;
    }
    .pricing-mobile {
        margin-bottom: 1rem;
        display: grid; 
        grid-template-columns: 0.8fr 1.2fr; 
        grid-template-rows: 1fr; 
        gap: 0px 15px; 
        grid-template-areas: 
            "item item1";
    }
    .price1-mobile {
        font-family: 'Fraunces', serif;
        font-size: 2.5rem;
        font-weight: 700;
        color: #3a7b65;
    }
    .price2-mobile {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.875rem;
        font-weight: 700;
        color: gray;
        text-decoration: line-through;
        margin-top: auto;
        margin-bottom: auto;
    }
    .btn1 {
        margin-bottom: 1rem;
    }
    .btn-mobile {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        box-shadow: 1px 1px 9px -4px rgba(0,0,0,0.77);
        cursor: pointer;
        width: 80%;
        height: 50px;
        border: 0px;
        border-radius: 12px;
        background-color: #3a7b65;
    }
    .attribution {
        display: none;
    }
}